body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 930px;
}

.header {
	padding-top: 48px;
	padding: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.form-control {
    width:500px;
}

.checkbox-inline+.checkbox-inline {
	margin-top: 0;
	margin-left: 35px;
	margin-bottom: 10px;
}

.checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 10px;
}