body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

.container {
	width: 70%;
	color: #00293D;
	font-family: 
}

.header {
	padding-top: 48px;
	padding: 50px;
	margin-bottom: 30px;
	color: #fff;
	border-radius: 15px;
	background: -moz-linear-gradient(top, #00476B, #80B2CC);
	background: -webkit-linear-gradient(top, #00476B, #80B2CC);
	background: -o-linear-gradient(top, #00476B, #80B2CC);
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.form-control {
    width:500px;
}

.checkbox-inline+.checkbox-inline {
	margin-top: 0;
	margin-left: 35px;
	margin-bottom: 10px;
}

.checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 10px;
}